{% extends 'base.html.twig' %}

{% block title %}Hello KillersController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>This is the Killers Page! ☠️</h1>
    <br>
    <b style="color: red">Death is not an espace ! Remember</b>
    <br>
    <br>

    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Surname</th>
            <th scope="col">Photo</th>
            <th scope="col">More Info</th>
        </tr>
        </thead>
        <tbody>
        {% for entite in Killers %}
            <tr>
                <th scope="row">{{ entite.id }}</th>
                <td>{{ entite.KillerNickname }}</td>
                <td><img style="width: 100px" height="150px;" src="{{ entite.KillerImage }}"></td>
                <td>
                    <form method="post" action="{{ path('killer_read', {'id': entite.id}) }}">
                        <button class="btn" style="background-color: firebrick; color: white">Info about {{ entite.KillerNickname }}</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
