{% extends 'base.html.twig' %}
{% block body %}

    <h1>{{ killer.KillerNickname }}</h1>
    <h2>{{ killer.KillerName }}</h2>
    <div>
        <img src="{{ killer.KillerImage }}">
    </div>
    {% if killer.KillerMap != NULL %}
        <div>
            <p>
                {{ killer.KillerMap.MapName }}
                <img src="{{ killer.KillerMap.MapImage }}">
            </p>
        </div>
    {% endif %}
    {% if killer.KillerWeapon != NULL %}
        <div>
            <p>
                {{ killer.KillerWeapon.WeaponName }}
                <img src="{{ killer.KillerWeapon.WeaponImage }}">
            </p>
        </div>
    {% endif %}
    {% if killer.KillerPower != NULL %}
        <div>
            <p>
                {{ killer.KillerPower.PowerName }}
                <img src="{{ killer.KillerPower.PowerImage }}">
            </p>
        </div>
    {% endif %}
    <div>
        <p>
            {{ killer.KillerSpeed }}
        </p>
    </div>
    <div>
        <p>
            {{ killer.KillerHistory | nl2br }}
        </p>
    </div>
    <div>
        <p>
            {{ killer.KillerSummary | nl2br }}
        </p>
    </div>
    <div>
        {% for entite in killer.KillerPerks %}
            {% if entite.PerkkillerName %}
                <img src="{{ entite.PerkkillerImage }}">
            {% endif %}
        {% endfor %}
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('killers_edit', {'id': killer.id}) }}">edit</a>
    {% endif %}
{% endblock %}