{% extends 'base.html.twig' %}{#Permet d'importer la barre de navigation et tous les paramètres du fichier base.html.twig#}
{% block title %}Lecture du tueur {{ killer.KillerNickname }}{% endblock %}{#Permet de donner un titre à son onglet#}
{% block body %}
    <style>
        /*Permet de définir le CSS de la page actuelle*/
        .center{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
            height: 30%;
        }
        .centercard{
            display: block;
            margin-top: 2%;
            padding-top: 2%;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            text-align: center;
        }
    </style>

    {#Permet l'affichage du contenu de la page#}
    <div class="card text-white bg-dark mb-3 centercard">
        <img class="card-img-top center" src="{{ killer.KillerImage }}" alt="Card image cap" >
        <div class="card-body">
            <h1 class="card-title">{{ killer.KillerName }}</h1>
            <h2 class="card-text">Also known under the nickname : {{ killer.KillerNickname }}</h2>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h5>Killer History : </h5><br>{{ killer.KillerHistory | nl2br }}</li>
            <li class="list-group-item"><h5>Killer Summary : </h5><br>{{ killer.KillerSummary | nl2br }}</li>
            <li class="list-group-item"><h5>Killer speed : </h5><br>{{ killer.KillerSpeed | nl2br }}</li>
            {% if killer.KillerMap != NULL %}
                <li class="list-group-item"><h5>Killer map : </h5><br>{{ killer.KillerMap.MapName | nl2br }}</li>
            {% endif %}
            {% if killer.KillerPower != NULL %}
                <li class="list-group-item"><h5>Killer power : </h5><br>{{ killer.KillerPower.PowerName | nl2br }}</li>
            {% endif %}
            {% if killer.KillerWeapon != NULL %}
                <li class="list-group-item"><h5>Killer weapon : </h5><br>{{ killer.KillerWeapon.WeaponName | nl2br }}</li>
            {% endif %}
            <li class="list-group-item">
                <h5>Killer Perks : </h5><br>
                {% for entite in killer.KillerPerks %}
                    {% if entite.PerkkillerName %}
                        <p>{{ entite.PerkkillerName }}</p>
                        <img src="{{ entite.PerkkillerImage }}">
                    {% endif %}
                {% endfor %}
        </ul>
        {#Redirection vers les autres pages correspondantes à ce killer#}
        <div class="card-body">
            {% for entite in killer.KillerPerks %}
                {% if entite.PerkkillerName %}
                    <a class="card-link" href="{{ path('perkskillers_read', {'id': entite.id}) }}">Info about {{ entite.PerkkillerName }}</a>
                {% endif %}
            {% endfor %}
            <a class="card-link" href="{{ path('maps_read', {'id': killer.KillerMap.id}) }}">Info about {{ killer.KillerMap.MapName }}</a>
            <a class="card-link" href="{{ path('powers_read', {'id': killer.KillerPower.id}) }}">Info about {{ killer.KillerPower.PowerName }}</a>
            <a class="card-link" href="{{ path('weapons_read', {'id': killer.KillerWeapon.id}) }}">Info about {{ killer.KillerWeapon.WeaponName }}</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="card-link" href="{{ path('killers_edit', {'id': killer.id}) }}">Edit the killer</a>
            {% endif %}
        </div>
    </div>

{% endblock %}