{% extends 'base.html.twig' %}{#Permet d'importer la barre de navigation et tous les paramètres du fichier base.html.twig#}

{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dead By Daylight Wiki!{% endblock %}{#Permet de donner un titre à son onglet#}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            /*Permet de définir le CSS de la page actuelle*/
            .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
            body{
                background-color: gray;
            }
        </style>
    </head>

    <div class="example-wrapper">
        <h1>Hello to the Dead By Daylight Wiki!☠️</h1>
        <br>
        {% if is_granted('ROLE_USER') %} {# permet de verifier la connection #}
            <h2>Welcome: {{ app.user.username }}</h2>
        {% endif %}
        <br>
        <h1 style="color: red">Death is not an escape!</h1>
        <br>

        {#Si l'utiisateur connectés est un Admin alors il serra afficher tous les users ayant un compte#}
        {% if is_granted('ROLE_ADMIN') %}
            <h2>Name of Users that visit the site :</h2>
            {% for entite in Users %}
            <ul>
                {{ entite.username }}
            </ul>
            {% endfor %}
        {% endif %}
    </div>
    {#Tous les liens de redirection vers les differentes main page du site#}
    <div class="example-wrapper">
        <p>
            In this site you will be able to learn more about,
            <a href="{{ path('survivors') }}" style="color: darkblue">SURVIVORS</a>,
            <a href="{{ path('killers') }}" style="color: darkblue">KILLERS</a>,
            <a href="{{ path('perks') }}" style="color: darkblue">SURVIVORS' PERKS</a>,
            <a href="{{ path('perks_killers') }}" style="color: darkblue">KILLERS' PERKS</a>,
            <a href="{{ path('maps') }}" style="color: darkblue">MAPS</a>,
            <a href="{{ path('powers') }}" style="color: darkblue">POWERS</a> and
            <a href="{{ path('weapons') }}" style="color: darkblue">WEAPONS</a>.
        </p>
        <p>
            Enjoy your ride on the site and dive into it !
        </p>
    </div>

{% endblock %}