{% extends 'base.html.twig' %}{#Permet d'importer la barre de navigation et tous les paramètres du fichier base.html.twig#}
{% block title %}Lecture de la perk {{ perkkiller.PerkkillerName }}{% endblock %}{#Permet de donner un titre à son onglet#}
{% block body %}
    <style>
        /*Permet de définir le CSS de la page actuelle*/
        .center{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
            height: 30%;
        }
        .centercard{
            display: block;
            margin-top: 2%;
            padding-top: 2%;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            text-align: center;
        }
    </style>
    {#Permet l'affichage du contenu de la page#}
    <div class="card text-white bg-dark mb-3 centercard">
        <img class="card-img-top center" src="{{ perkkiller.PerkkillerImage }}" alt="Card image cap" >
        <div class="card-body">
            <h1 class="card-title">{{ perkkiller.PerkkillerName }}</h1>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h5>Perk Explanation : </h5><br>{{ perkkiller.PerkkillerExplanation | nl2br }}</li>
        </ul>
        <div class="card-body">
            {#Redirection vers le formulaire d'edit si on est ADMIN#}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="card-link" href="{{ path('perkskillers_edit', {'id': perkkiller.id}) }}">Edit the perk killer</a>
            {% endif %}
        </div>
    </div>
{% endblock %}