{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <style>
        body{
            background-color: gray;
            background-image: url("https://c.tenor.com/COkoJ2QLaTgAAAAi/dbd-game.gif");
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="..\image\logodbd.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            DeadByDaylightWiki
        </a>
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_register') }}">Registration</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>

    <form action="{{ path('login') }}" method="post" style="margin-left: 10%;">
        <h1 style="color: firebrick">Login</h1>
        <div class="mb-3">
            <label for="username" style="color: white">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"/>
        </div>

        <div class="mb-3">
            <label for="password" style="color: white">Password:</label>
            <input type="password" id="password" name="_password"/>
        </div>

        {# If you want to control the URL the user is redirected to on success #}
        <input type="hidden" name="_target_path" value="/"/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit" class="btn" style="background-color: green; color: white">Dive into the site (Login)</button>
    </form>
{% endblock %}