{% extends 'base.html.twig' %}{#Permet d'importer la barre de navigation et tous les paramètres du fichier base.html.twig#}
{% block title %}Lecture du survivor {{ survivor.SurvivorName }}{% endblock %}{#Permet de donner un titre à son onglet#}
{% block body %}
    <style>
        /*Permet de définir le CSS de la page actuelle*/
        .center{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
            height: 30%;
        }
        .centercard{
            display: block;
            margin-top: 2%;
            padding-top: 2%;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            text-align: center;
        }
    </style>
    {#Permet l'affichage du contenu de la page#}
    <div class="card text-white bg-dark mb-3 centercard">
        <img class="card-img-top center" src="{{ survivor.SurvivorImage }}" alt="Card image cap" >
        <div class="card-body">
            <h1 class="card-title">{{ survivor.SurvivorName }}</h1>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><h5>Survivor History : </h5><br>{{ survivor.SurvivorHistory | nl2br }}</li>
            <li class="list-group-item"><h5>Survivor Summary : </h5><br>{{ survivor.SurvivorSummary | nl2br }}</li>
            <li class="list-group-item">
                <h5>Survivor Perks : </h5><br>
                {% for entite in survivor.SurvivorPerk1 %}
                {% if entite.PerkName %}
                    <p>{{ entite.PerkName }}</p>
                    <img src="{{ entite.PerkImage }}">
                {% endif %}
                {% endfor %}
        </ul>
        <div class="card-body">
            {% for entite in survivor.SurvivorPerk1 %}
                {% if entite.PerkName %}
                <a class="card-link" href="{{ path('perks_read', {'id': entite.id}) }}">Info about {{ entite.PerkName }}</a>
                {% endif %}
            {% endfor %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="card-link" href="{{ path('survivors_edit', {'id': survivor.id}) }}">Edit the survivor</a>
            {% endif %}
        </div>
    </div>

{% endblock %}