{% extends 'base.html.twig' %}{#Permet d'importer la barre de navigation et tous les paramètres du fichier base.html.twig#}

{% block title %}Main page Weapon{% endblock %}{#Permet de donner un titre à son onglet#}

{% block body %}
<style>
    /*Permet de définir le CSS de la page actuelle*/
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{#Permet l'affichage du contenu de la page#}
<div class="example-wrapper">
    <h1>This is the Weapons Page! ☠️</h1>
    <br>
    <b style="color: red">Death is not an espace ! Remember</b>
    <br>
    <br>

    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Photo</th>
            <th scope="col">More Info</th>
        </tr>
        </thead>
        <tbody>
        {% for entite in Weapons %}
            <tr>
                <th scope="row">{{ entite.id }}</th>
                <td>{{ entite.WeaponName }}</td>
                <td><img style="width: 100px" src="{{ entite.WeaponImage }}"></td>
                <td>
                    <form method="post" action="{{ path('weapons_read', {'id': entite.id}) }}">
                        <button class="btn" style="background-color: indianred; color: white">Info about {{ entite.WeaponName }}</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
