{% extends 'base.html.twig' %}

{% block title %}Hello AdminPageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/laragon/www/DeadByDaylight/src/Controller/AdminPageController.php'|file_link(0) }}">src/Controller/AdminPageController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/laragon/www/DeadByDaylight/templates/admin_page/index.html.twig'|file_link(0) }}">templates/admin_page/index.html.twig</a></code></li>
    </ul>
    <td>
        <a href="{{ path('form_perk') }}">GO TO ADD A PERK OF SURVIVOR</a>
    </td>
    <td>
        <a href="{{ path('form_survivor') }}">GO TO ADD A SURVIVOR</a>
    </td>
    <td>
        <a href="{{ path('form_killer') }}">GO TO ADD A KILLER</a>
    </td>
    <br>
    <td>
        <a href="{{ path('form_perkkiller') }}">GO TO ADD A PERK OF KILLER</a>
    </td>
</div>
{% endblock %}
